import firebase from 'firebase';

import 'firebase/auth';
import 'firebase/firestore';

const firebaseConfig = {
  apiKey: 'Your API Key',
  authDomain: 'Your AuthDomain',
  projectId: 'Your ProjectId',
  storageBucket: 'Your StorageBucket',
  messagingSenderId: 'Your MessagingSenderId',
  appId: 'Your AppId',
};

firebase.initializeApp(firebaseConfig);

const db = firebase.firestore();

export default firebase;
export { db };